




.TopBanner{
    /* min-height:fit-content; */
    min-height: 1.6rem;
    height: auto;
    /* min-width: 100vw; */
    width: 100%;
    background-color: var(--heritage-burgandy);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.2rem;
    /* position: static; */
    z-index: 200;
    top:0;
     position: fixed; 
}
.DotCsswrapper{
     margin: 0 8px;        
  display: inline-block;
  color: white;
  font-weight: bold;
}