.MainSignupPage{
    display: flex;
    flex-direction: column;
     
}

.CompanyLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.CompanyLogo>img{
    height: 85px;
    mix-blend-mode: multiply;
}

#companyTitleCss{
    font-size: 2rem;
    color: #800020;
    font-family: math;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.2rem;
}
.formBox{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 100%;
   padding: 1.5625rem 0.625rem 0.625rem 0.625rem;
   background-color: white;
   margin: 0 1rem 1rem 1rem;
}

.formBox-2{
      display: flex;
    
      justify-content: center;
    /* max-width: 100%; */
   /* background-color: white; */

   /* margin:0 1rem; */
}

.formBox-2>p{
    margin: 0;
    color: var(--golden-harvest);
    font-weight: bold;
    padding-right: 0.3rem;
}
.formBox>input{
    outline: none;
    border: 1px solid var(--golden-harvest);
    height: 2.25rem;
    padding-left: 0.5rem;

}

.loginLinkCss{

    color: var(--heritage-burgandy);
    font-weight: 600;
    padding-right: 0.5rem;
    text-decoration: none;
}
.formBox> .emailContainerCssClass>input{

 outline: none;
    border: 1px solid var(--golden-harvest);
    height: 2.25rem;
    padding-left: 0.5rem;
}

/* .phoneInputCustomCssClass{
    border:solid 3px black;
    background-color: aquamarine;
} */


/* .confirmPasswordContainerClass{
    width: 100%;
}

.inputCssClasss{
    width: 100%;
} */

.passwordContainerClass{
position: relative;
width: 100%;
}
.passwordContainerClass>i{
position: absolute;
right: 1rem;
top:50%;
transform: translateY(-50%);
}

.passwordContainerClass>input{
    padding-right: 2rem;
    width: 100%;
    padding: 0;


     outline: none;
    border: 1px solid var(--golden-harvest);
    height: 2.25rem;
    padding-left: 0.5rem;

}

.displayPasswordErrorCss{
    position: absolute;
    top:100%;
    left: 0%;
    color:var(--heritage-burgandy);
}

#displayconfirmPasswordSuccessCss{
    color: var(--Manago-leaf-green);
}




.phoneContainerClassCss{
    position: relative;
    width: 100%;
}

#displayPhoneErrorClass{
    position: absolute;
    left: 0%;
    top:100%;
    color:var(--heritage-burgandy);
    margin:0;
  
}



.formSubmitButton{
    outline: none;
    /* border: 1px solid var(--golden-harvest); */
    height: 2.25rem;
    padding-left: 0.5rem;
    background-color: var(--heritage-burgandy);
    color: var(--golden-harvest);
    text-transform: uppercase;
    font-weight: bold;
}
.emailContainerCssClass{
    position: relative;
    width: 100%;
}
.emailContainerCssClass>input{
       padding-right: 2rem;
    width: 100%;
    padding: 0;
}

.emailContainerCssClass>i{
    position: absolute;
    right: 1rem;
top:50%;
transform: translateY(-50%);
}


.formBox *, .formBox *::before, .formBox *::after {
  box-sizing: border-box;
}

#customCheckFill{
    color:var(--Manago-leaf-green);
    font-size: 1.25rem;
}

#customCrossFill{
    color:var(--heritage-burgandy);
    font-size: 1.25rem;
}

.passwordEyeCss{
    font-size: 1.3rem;
    color:var(--heritage-burgandy);
}

.displayPasswordErrorCss{
    margin: 0px;
}


@media (width<=768px){
    .ImageBackgroundCss{
        display: none;
    }


    .designEdgeLogo{
        display: none;
    }
    .designEdgeLogo_1,.designEdgeLogo_2,.designEdgeLogo_3,.designEdgeLogo_4{
    display: none;
}
}



@media (768px <= width <= 1024px){
    .MainSignupPage{
        display: flex;
        flex-direction: row;
        justify-content: center;
      
        gap: 30px;  
   
        width: 100%;
        gap: 30px;

    }

    
  .CompanyLogo {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: calc(60% - 15px);
    
  }


  .ImageBackgroundCss{
       /* width: 100%;
    height: auto; */
    /* height:auto; */
    mix-blend-mode: multiply;
    
  }

   .MainSignupPage > form {
    width: calc(40% - 15px);
    margin: 2rem 0rem 0rem 0rem;
  }

   

.designEdgeLogo_1,.designEdgeLogo_2,.designEdgeLogo_3,.designEdgeLogo_4{
    display: none;
}



}






@media (width>=1024px){
    .MainSignupPage{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
      
        gap: 30px;  
   
        width: 100%;
      
      

    }

    
  .CompanyLogo {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: calc(60% - 15px);
    
  }


  .ImageBackgroundCss{
       /* width: 100%;
    height: auto; */
    /* height:auto; */
    mix-blend-mode: multiply;
    z-index: 2;
    
  }

   .MainSignupPage > form {
    width: calc(40% - 15px);
    margin: 2rem 2rem 2rem 2rem;
    z-index: 8;
    
  }

  .formBox{
    z-index: 10;
  }


  .designEdgeLogo_1{
    position: absolute;
    top: 0;
    left: 0;
    
  opacity: 0.2;
  }


  .designEdgeLogo_2{
  position: absolute;
 top: 0%;
  right: 0%;
  opacity: 0.2;
  z-index: 0;
  }

  .designEdgeLogo_3{
    position: absolute;
   bottom: 0%;
  left: 0%;
  opacity: 0.2;

  }
   .designEdgeLogo_4{
    position: absolute;
   bottom: 0%;
  right: 0%;
  opacity: 0.2;
   }
}