:root{
    --heritage-burgandy:#800020;
    --golden-harvest:#DAA520;
    --sun-dried-turmeric:#FFC107;
    --Manago-leaf-green:#4CAF50;
    --heritage-beige:#F5F5DC;
    --background-color: #f6f1dd;
    --white-color:#ffffff;
   

}

body,h4{
    margin: 0px;
    box-sizing: border-box;
    /* background-color: #f6f1dd; */
}

/* .formBox *, .formBox *::before, .formBox *::after {
  box-sizing: border-box;
} */